MONGODB_URI=
SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAPBOX_TOKEN=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
MONO_TOKEN=
# BACKEND_URL=http://localhost:3000
BACKEND_URL=
FRONTEND_URL=
OPENWEATHERMAP_API_KEY=
OPENWEATHER_API_URL=