MONGODB_URI=<YOUR-MONGODB-URI>
SALT_ROUNDS=10
JWT_ACCESS_SECRET=yourjwtsecret
JWT_REFRESH_SECRET=yourrefreshsecret
GOOGLE_CLIENT_ID=<YOUR-GOOGLE-CLIENT-ID>
SMTP_HOST=smtp.gmail.com 
SMTP_PORT=587
SMTP_USER=smtp.gmail.com
SMTP_PASS=<YOUR-SMTP-PASSWORD>
MAPBOX_TOKEN=<YOUR-MAPBOX-TOKEN>
CLOUDINARY_API_KEY=<YOUR-CLOUDINARY-API-KEY>
CLOUDINARY_API_SECRET=<YOUR-CLOUDINARY-API-SECRET>
CLOUDINARY_CLOUD_NAME=<YOUR-CLOUDINARY-CLOUD-NAME>
MONO_TOKEN=<YOUR-MONO-TOKEN>
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
OPENWEATHERMAP_API_KEY=<YOUR-OPENWEATHERMAP-API-KEY>
OPENWEATHER_API_URL=https://api.openweathermap.org/data/3.0/onecall
OPENWEATHER_DAY_SUMMARY_API_URL=https://api.openweathermap.org/data/3.0/onecall/day_summary
SENTINEL_HUB_CLIENT_ID=<YOUR-SENTINEL-HUB-CLIENT-ID>
SENTINEL_HUB_CLIENT_SECRET=<YOUR-SENTINEL-HUB-CLIENT-SECRET>
SENTINEL_HUB_API_KEY=<YOUR-SENTINEL-HUB-API-KEY>
SENTINEL_PROCESSING_API_URL=https://services.sentinel-hub.com/api/v1/process
SENTINEL_STATISTICS_API_URL=https://services.sentinel-hub.com/api/v1/statistics
SENTINEL_TOKEN_URL=https://services.sentinel-hub.com/auth/realms/main/protocol/openid-connect/token
GEMINI_API_KEY=<YOUR-GEMINI-API-KEY>
FASTAPI_URL=http://localhost:8000